body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
    
}
header{
    border-bottom: 5px solid grey;
    background-image: linear-gradient(to right, rgba(56, 182, 255), rgba(137, 196, 244));
}
footer{
  border-top: 5px solid grey;
  background-image: linear-gradient(to right, rgba(56, 182, 255), rgba(137, 196, 244));
  height: 200px;
  display: flex;
  justify-content: center;
}
.content-wrapper{
  height: 500px;
  display: flex;
  
}
.content-child{
  width: 50%;
  float: left;
  padding: 70px;
  justify-content: center;

}
.content-container{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 3% 10% 0 10%;
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.img1{
    margin-top: -100px;
    margin-bottom: -100px;
    height: 400px;
    width: 480px;
}

/* Nav Bar*/
.navMenu {
    position: relative;
    right: 0;
    left: 0;
    width: 50%;
    height: 60px;
    display: table;
    margin: 0 auto;
    transform: translateY(-20%);
  }
  
.navMenu a {
    position: relative;
    width: 25%;
    display: table-cell;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 20px 30px;
    transition: 0.2s ease color;
    border-style: solid;
  }
  
  .navMenu a:before,
  .navMenu a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  .navMenu a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  .navMenu a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }

  
  #indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  .navMenu a:hover {
    color: grey;
  }
  
  .navMenu a:hover:before,
  .navMenu a:hover:after {
    transform: scale(1);
  }
  
  .navMenu a:nth-child(1):hover ~ #indicator {
    left: 34%;
  }
  
  .navMenu a:nth-child(2):hover ~ #indicator {
    left: 48%;
  }
  
  .navMenu a:nth-child(3):hover ~ #indicator {
    left: 75%;
  }

/*Animation*/
.ml4 {
  position: relative;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  font-size: 4.5em;
  text-align: center;
  color: white;
  letter-spacing: .35em;
}
.ml4 .letters {
  position: relative;
  justify-content: center;
  top: 0.3em;
  opacity: 0; 
}

/*for calendar*/


.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/ }

.calendar, .calendar .add-event-day .add-event-day-field-btn, .calendar .calendar-days li:after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.calendar {
  background: white;
  width: 840px;
  height: 490px;
  border-radius: 10px;
  overflow: hidden; }
  .calendar .calendar-left-side-day-of-week, .calendar .current-day-events ul, .calendar .add-event-day, .calendar .calendar-change-year, .calendar .calendar-days li {
    position: relative; }
  .calendar .calendar-left-side-day, .calendar .calendar-left-side-day-of-week, .calendar .current-day-events, .calendar .add-event-day-field-btn, .calendar .add-event-day-field {
    color: white; }
  .calendar .calendar-left-side-day-of-week, .calendar .calendar-week {
    text-transform: uppercase; }
  .calendar .right-side, .calendar .left-side {
    padding: 30px;
    height: 100%; }
  .calendar .left-side {
    width: 320px;
    background: #ec364f;
    float: left; }
  .calendar .current-day, .calendar .current-day-events {
    padding-top: 40px; }
  .calendar .current-day-events {
    height: 215px; }
  .calendar .current-day-events ul {
    padding-left: 30px;
    list-style: none; }
    .calendar .current-day-events ul li::before {
      content: '-';
      position: absolute;
      left: 3px; }
  .calendar h1.calendar-left-side-day {
    font-size: 92px; }
  .calendar .add-event-day {
    border-bottom: 1px solid white; }
    .calendar .add-event-day .add-event-day-field {
      border: none;
      background: transparent;
      height: 34px;
      width: 100%;
      font-size: 16px;
      padding-right: 30px; }
    .calendar .add-event-day .add-event-day-field:focus {
      outline: none; }
    .calendar .add-event-day .add-event-day-field::placeholder {
      color: #ccc; }
    .calendar .add-event-day .add-event-day-field-btn {
      left: inherit;
      line-height: 34px; }
  .calendar .right-side {
    width: 520px;
    float: right; }
  .calendar .calendar-change-year {
    font-size: 20px; }
    .calendar .calendar-change-year .calendar-change-year-slider {
      margin: 15px 0;
      color: #737373; }
    .calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
      color: #404040; }
  .calendar .calendar-days, .calendar .calendar-week, .calendar .calendar-month {
    list-style: none;
    font-size: 0; }
    .calendar .calendar-days li, .calendar .calendar-week li, .calendar .calendar-month li {
      display: inline-block;
      text-align: center;
      cursor: pointer;
      font-size: 16px; }
  .calendar .calendar-month li {
    width: calc(460px / 12);
    height: 30px;
    line-height: 30px;
    color: #868686;
    font-size: 13px; }
    .calendar .calendar-month li.active {
      color: #171717;
      font-weight: 600; }
  .calendar .calendar-days li {
    width: calc(460px / 7);
    height: 50px;
    line-height: 50px; }
    .calendar .calendar-days li:after {
      content: attr(data-day);
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #959595; }
    .calendar .calendar-days li.another-month:after {
      color: #ccc; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after, .calendar .calendar-days li.event-day:before, .calendar .calendar-days li.active-day:after {
      border-radius: 50%; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after {
      background: #ccc;
      color: white; }
    .calendar .calendar-days li.event-day:before {
      content: ' ';
      width: 5px;
      height: 5px;
      position: absolute;
      top: 7px;
      right: 7px;
      background: #1400c7; }
    .calendar .calendar-days li.active-day:after {
      color: white;
      background: #ec364f; }
  .calendar .calendar-week {
    margin-bottom: 30px;
    font-weight: 600;
    color: #737373;
    border-top: 1px solid #ccc; }
    .calendar .calendar-week li {
      width: calc(460px / 7);
      height: 30px;
      line-height: 30px; }