.ctitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .75cm;
    font-weight: 300cm;
  }
  
  .p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(56, 182, 255);
    color: white;
  }